:root {
  /* CSS Variables for all the font colors and sizes. Try changing these! */
  --header-background: rgb(115, 115, 115);
  --header-text-color: rgb(0, 0, 0);
  --header-font-size: 2rem;
  --square-text-color: #5661b3;
  --hidden-background-color: rgb(160, 160, 160);
  --revealed-background-color: rgb(195, 195, 195);
  --board-area-desktop: calc(100vh - 3 * var(--header-font-size));

  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--header-background);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: var(--header-font-size);
  background-color: var(--header-background);
  color: var(--header-text-color);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--header-font-size);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section ul,
section li {
  margin: 0;
  padding: 0;
  list-style: none;
}

section ul {
  height: 100vw;
  width: 100vw;
  background-color: var(--header-background);
  display: grid;
  gap: 0.1rem;
}
.small {
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.medium {
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
}

.large {
  grid-template: repeat(24, 1fr) / repeat(24, 1fr);
}

section li {
  background-color: var(--hidden-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.revealed {
  background-color: var(--revealed-background-color);
}

h2,
h3,
aside ul {
  margin: 0;
  padding: 1em;
  background-color: var(--header-background);
}

aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

aside ul,
nav ul {
  list-style-type: none;
}

aside li {
  padding: 0.2em;
  border-bottom: 0.1em solid var(--header-text-color);
}

nav {
  background-color: var(--header-background);
  display: flex;
  flex-direction: column;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0;
}

nav ul button {
  background-color: var(--hidden-background-color);
  color: var(--header-text-color);
}

input {
  width: 7em;
}

@media all and (min-width: 570px) {
  section ul {
    height: 70vw;
    width: 70vw;
  }
}

@media all and (min-width: 870px) {
  body {
    background-color: var(--header-text-color);
  }

  h1 {
    letter-spacing: 0.4rem;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  section ul {
    height: var(--board-area-desktop);
    width: var(--board-area-desktop);
  }
  aside {
    width: 17em;
    flex-direction: column;
    justify-content: space-between;
  }
}
